<mjml>
  <mj-body background-color="#ffffff" font-size="13px">
    <%- include("partials/logo.ejs")%>

    <mj-section background-color="#009FE3" vertical-align="top" padding-bottom="0px" padding-top="0">
      
      <% if(header) {%>
        <%- include("partials/header.ejs")%>
      <%}%>

    </mj-section>
    <mj-section background-color="#009fe3" padding-bottom="20px" padding-top="0px">
      <mj-column vertical-align="middle" width="100%">
        
        <mj-text align="left" color="#ffffff" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="19px" padding-right="25px"  font-size="19px">
        
        
        <%if(userName != ""){%>
          <% if(!header){%>
            <br>
          <%}%> 
         <a style="color:#FEEB35 !important; text-decoration:none;"> Dear <%-userName %></a>
         <br /><br /> 
        <%}%>
          
          
          <%- text %> 
        </mj-text>
        
          
          <% if(additionalText) {%>
          <%- include("partials/additionalText")%>
          <%}%>
          

          <%if(buttonLink){%>
            <%- include("partials/button.ejs") %>
          <%}%>
          
        <mj-text align="left" color="#ffffff" font-size="15px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">Thanks, <br /> The Learnguage Team.</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>